<form>
  <div class="form-group">
    <label for="inputID">Email address</label>
    <input type="text" class="form-control" id="inputID"  placeholder="Enter id">
  </div>
  <div class="form-group">
    <label for="inputPass">Password</label>
    <input type="password" class="form-control" id="inputPass" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="inputRegister">
    <label class="form-check-label" for="inputRegister">Register</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
