<form (ngSubmit)="displayMessage()">
  <div class="row align-items-end">
    <div class="col-11 col-sm-10">
      <input type="text" name='author' class="form-control-plaintext" id="author" value="xcvcxv" [(ngModel)]="model.author" #author="ngModel">
      <label for="exampleFormControlTextarea1">whats on your mind?</label>
      <textarea class="form-control" name='message' id="exampleFormControlTextarea1" rows="3" [(ngModel)]="model.text" #message='ngModel'></textarea>
    </div>
    <div class="col-1">
      <button type="submit" class="btn btn-primary">send</button>
    </div>
  </div>
</form>
