<div class="container-md">
  <div class="row">
    <div class="col">
      <div class="card border-dark m-1" >
        <div class="card-header">
          <h2 class="title">conversation</h2>
        </div>
        <div class="card-body overflow-auto" style="height: 60vh">
          <app-conversations></app-conversations>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h2 class="title">chat box</h2>
        </div>
          <div class="card-body">
            <router-outlet></router-outlet>
<!--            <app-text-box></app-text-box>-->
        </div>
      </div>
    </div>
  </div>
</div>
