<div class="alert alert-primary w-50"  *ngFor="let mess of getMessages()">
  <h5><i class="fa fa-2x fa-user-circle"></i> {{mess.author}}</h5>
  <p class="card-text"><i class="fa fa-bullhorn ml-2 mr-2 fa-2x"></i>{{mess.text}}</p>
</div>




